<%= render "/shared/navpath", child: :Genres %>
<div style="text-align:center">
  <% if can? :create, Genre %>
    <%= link_to "New genre", new_genre_path %>
  <% end %>
</div>
<br>
<div id="genres">
  <% @genres.each do |genre| %>
    <details id="section-<%= genre.category %>">
      <summary><%=h link_to genre.category, search_genres_path(id: genre.id), class: "dark-underline-hover" %></summary>
      <p style="text-align:justify"><%= genre.description %></p>
      <% if can? :update, @genre %>
        <%= link_to "View "+genre.category, genre  %>
      <% end %>
    </details><br>
  <% end %>
</div>