<h1><%= @genre.category.titleize %> Books</h1>
<details>
    <p style="text-align:justify"><%= @genre.description %></p>
</details>
<div class='container-t'>
    <% @category.each do |book| %>
        <div class='border-t'>
            <%  if book.cover.attached? %>
                <%= link_to image_tag(book.cover, class: "thumb cursor-p"), book %>
            <% else %>
                <%= link_to image_tag('noImage.jpg', class: "thumb") , book %>
            <% end %><br>
            <% if book.title.length > 50 %>
                    <%= link_to book.title.truncate(50), book, class:"dark-primary", style: "font-size:14px" %>
                    <script>
                    $('.read-more-<%= book.id %>').on('click', function(e) {
                        e.preventDefault()
                        $(this).parent().html('<%= escape_javascript book.desc %>')
                    })
                    </script><br>
            <% else %>
                <%= link_to book.title, book, class: "primary-hover", style: "font-size:14px" %><br>
            <% end %>
            by <%= link_to Author.find(book.author_id).name, author_path(book.author_id), class: "dark-hover" %><br>
            <%#= link_to "Show this book", book %>
        </div>
    <% end %>
    <div style="clear:both"></div><!-- so items doesn't float away from main div-->
</div>

<%= render partial: "shared/pagination" %>