<h2>Edit <%= resource_name.to_s.humanize %></h2>
<br>
<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.alert_message "Please fix the errors below." %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: false, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.text_field :phone, autofocus: false, autocomplete: "phone" %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", help:"#{@minimum_password_length} characters minimum. Please leave blank if you don't want to change your password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.password_field :current_password, autocomplete: "current-password", help:"We need your current password to confirm your changes" %>
  </div>
<br>
  <div class="actions" style="text-align:center">
    <%= f.submit "Update", class:"btn btn-primary" %>
  </div>
<% end %>
<br>
<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"btn btn-warning" %></div>

<%= link_to "Back", :back %>
