<div class="" id="<%= dom_id author %>">
  <h1 class="display-5" style="font-family:Monaco">
    <strong><%= author.name %></strong>
  </h1><br>
  <div>
    <div id="authorImg">
      <% if author.potrait.attached? %>
        <%= image_tag(author.potrait, class: "show-potrait", alt:author.name) %>
      <% else %>
        <img style="border:1px solid skyblue;" src="<%= image_path('noImage.jpg') %>" class="show-potrait">
      <% end %>
    </div>
    <p id="show-desc" style="text-align:justify; white-space:pre-wrap">
      <%= author.dec %>
    </p>
    <div style="clear:both"></div>
  </div>
</div>