<%= render "/shared/navpath", child: :Authors %>
<div style="text-align:center">
  <% if can? :create, @author %>
    <%= link_to "New author", new_author_path %>
  <% end %>
</div>
<br>
<div style="text-align:center">
  <%= link_to "#", '#author-#', class:"dark-underline-hover" %>
  <% ('A'..'Z').each do |abc| %>
    <%= link_to abc, '#author-'+abc, class:"dark-underline-hover" %>
  <% end %>
</div>
<br>
<div id="authors">
  <hr>
  <div id="author-#", class="snap">
    <h5>#</h5>
    <% @authors.each do |author| %>
      <% unless author.name[0].match?(/[A-Za-z]/) %>
        <%= link_to author.name, author, class:"dark-underline-hover" %>
        <br>
      <% end %>
    <% end %>
    <hr>
  </div>
  <% ('A'..'Z').each do |abc| %>
    <div id="author-<%=abc%>", class="snap">
    <h5><%=abc%></h5>
    <% @authors.each do |author| %>
      <% if author.name[0].upcase == abc %>
        <%= link_to author.name, author, class:"dark-underline-hover" %>
        <br>
      <% end %>
    <% end %>
    <hr>
    </div>
  <% end %>
</div>
<br>