<div class="grid-container-1_3">
  <div hidden class="grid-1_3-leftCol">
    <%= link_to "Back to authors", authors_path %>
  </div>
  <div class="grid-1_3-centreCol">
    <% if can? :update, @authors %>
      <%= link_to "Edit this author", edit_author_path(@author) %> 
    <% end %> 
  </div>
  <div class="grid-1_3-rightCol">
    <% if can? :destroy, @authors %>
      <%= button_to "Destroy this author", @author, method: :delete, class:"btn btn-danger" %>
    <% end %>
  </div>
</div>
<br>

<%= render @author %>

<div id="books">
  <b>This writers works:</b>
  <ol>
      <% Book.all.where(author_id: @author).each do |book| %>     
        <li>
          <%= link_to "#{book.title} (#{book.year})", book, class:"dark-underline-hover" %>
        </li>
      <% end %>
  </ol>
</div>