<center>
<h2>Change your password</h2>
<br>
<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.alert_message "Please fix the errors below." %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.password_field :password, label:"New password", help:"#{@minimum_password_length} characters minimum", autofocus: true, autocomplete: "new-password" %><br />
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, help:"Confirm new password", autocomplete: "new-password" %><br />
  </div>

  <div class="actions" style="text-align:center">
    <%= f.primary "Change my password" %>
  </div>
<% end %>
</center>