<div id="<%= dom_id rent %>">
  <p>
    <strong>Book:</strong>
    <%= rent.book %>
  </p>

  <p>
    <strong>User:</strong>
    <%= rent.user %>
  </p>

  <p>
    <strong>Dateborrowed:</strong>
    <%= rent.dateBorrowed %>
  </p>

  <p>
    <strong>Datedue:</strong>
    <%= rent.dateDue %>
  </p>

</div>
