<%= javascript_include_tag "splide_tool.js" %>

<div id="banner">
    <%= image_tag('books.jpg', style:"width:100%;")  %>
    <div id="banner-text">
        <% if user_signed_in? %>
            <!--<h1>Welcome <%= User.find(current_user.id).name %>!</h1> -->
            <h2>Welcome <%= format_name(User.find(current_user.id)) %>!</h2>
        <% else %>
            <h2>Welcome Visitor!</h2>
        <% end %>
    </div>
</div>
<br>
<!-- By latest -->
<section id="carouselNew" class="splide" aria-labelledby="carousel-heading">
    <h2 id="carousel-heading">New Book Drops!</h2>
    <div class="splide__track">
        <ul class="splide__list">
            <% @latests.each do |book| %>
                <li class="splide__slide">
                    <center>
                        <div class="splide__slide__container">
                            <% if book.cover.attached? %>
                                <%= image_tag(book.cover, class: "d-block w-100") %>
                            <% end %>
                            <div class="carousel-caption">
                                <div>
                                    <h5><%= book.title %></h5>
                                </div>
                                <div class="d-none d-md-block">
                                    <p style="font-size: 16px">
                                        <% if book.desc.length > 300 %>
                                            <%= truncate(book.desc, length: 300) %>
                                            <%= link_to "...Read more", book, class:"light-offset-underline-hover" %>
                                            <script>
                                            $('.read-more-<%= book.id %>').on('click', function(e) {
                                                e.preventDefault()
                                                $(this).parent().html('<%= escape_javascript book.desc %>')
                                            })
                                            </script>
                                        </p>
                                    <% else %>
                                        <p style="font-size: 16px"><%= book.desc %></p>
                                    <% end %>
                                </div>
                                <div>
                                    <button type="button" onclick="location.href='books/<%= book.id %>';" class="btn btn-info btn-sm">Read Now</button>
                                </div>
                            </div>
                        </div>
                        
                    </center><br>
                </li>
            <% end %>
        </ul>
    </div>
    <div class="splide__arrows splide__arrows--ltr">
        <button
        class="splide__arrow splide__arrow--prev"
        type="button"
        aria-label="Previous slide"
        aria-controls="splide01-track"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg>
        </button>
        <button
        class="splide__arrow splide__arrow--next"
        type="button"
        aria-label="Next slide"
        aria-controls="splide01-track"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg>
        </button>
    </div>
</section><br><br>

<!-- By genre -->
<% @genres.each do |genre| %>
    <% if BookGenre.find_by_genre_id(genre) %>
        <section class="splide carouselGenre" aria-labelledby="carousel-heading">
            <h2 id="carousel-heading"><%= genre.category.upcase_first %></h2>
            <div class="splide__track">
                <ul class="splide__list">
                    <% Book.where(id:BookGenre.where(genre_id:genre.id).select(:book_id)).each do |book| %>
                        <li class="splide__slide">
                            <center>
                                <div class="splide__slide__container">
                                    <%  if book.cover.attached? %>
                                        <%= link_to image_tag(book.cover, class: "cover-t cursor-p"), book %>
                                    <% else %>
                                        <%= link_to image_tag('noImage.jpg', class: "cover-t", style:"border:1px solid skyblue"), book  %>
                                    <% end %>
                                </div>
                                <%= link_to book.title, book, class: "primary-hover", style: "font-size:14px" %><br>
                                <p style="font-size:12px">by <%= link_to Author.find(book.author_id).name, author_path(book.author_id), class: "dark-hover" %></p>
                            </center><br>
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="splide__arrows splide__arrows--ltr">
                <button
                class="splide__arrow splide__arrow--prev"
                type="button"
                aria-label="Previous slide"
                aria-controls="splide01-track"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </button>
                <button
                class="splide__arrow splide__arrow--next"
                type="button"
                aria-label="Next slide"
                aria-controls="splide01-track"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </button>
            </div>
        </section>
        <br>
    <% end %>
<% end %>