<div id="<%= dom_id book %>">
  <div>
    <% if book.cover.attached? %>
      <%= image_tag(book.cover, class: "cover-t cursor-p cursor-p", id:"img-t", alt:book.title) %>
    <% else %>
      <img src="<%= image_path('books/noCoverImage.jpg') %>" class="cover-t">
    <% end %>
  </div>

  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <!--<%= Author.find(book.author_id).name %>-->
    <%= link_to Author.find(book.author_id).name, author_path(book.author_id) %>
  </p>

  <p>
    <strong>Genre:</strong>
    <% Genre.where(id:BookGenre.where(book_id:@book).select(:genre_id)).select(:category).each do |genre| %>     
      <% unless genre.category == Genre.where(id:BookGenre.where(book_id:@book).select(:genre_id)).select(:category).last.category %>
        <%=h genre.category %>,
      <% else %>
        <%=h genre.category %>
      <% end %>
    <% end %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= book.year %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= book.desc %>
  </p>

  <p>
    <strong>Purchase Status:</strong>
    <% if book.purchase_status == true %>
      <%= link_to "Available", book.purchase_url, class: "link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
    <% else %>
      Not Available
    <% end %>
  </p>
</div>

<!-- The Modal -->
<%= javascript_include_tag "enlarge.js" %>
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>