<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <!--<%= Author.find(book.author_id).name %>-->
    <%= link_to Author.find(book.author_id).name, author_path(book.author_id) %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= book.year %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= book.desc %>
  </p>

  <p>
    <strong>Purchase Status:</strong>
    <% if book.purchase_status == true %>
      <%= link_to "Available", book.purchase_url, class: "link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
    <% else %>
      Not Available
    <% end %>
  </p>
</div>
