<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  
  <div>
    <%= form.label :author, style: "display: block" %>
      <%= form.collection_select :author_id, Author.order(:name),:id,:name, prompt: true %>
  </div>

  <div>
    <%= form.label :genre, style: "display: block" %>
    <%= form.text_field :genre %>
    <!--
    <%= check_box_tag(:genre) %>
    <%= label_tag(:genre, "non-fiction") %> </br>
    <%= check_box_tag(:genre) %>
    <%= label_tag(:genre, "fiction") %> </br>
    <%= check_box_tag(:genre) %>
    <%= label_tag(:genre, "fantasy") %> </br>
    <%= check_box_tag(:genre) %>
    <%= label_tag(:genre, "romance") %> </br>
    <%= check_box_tag(:genre) %>
    <%= label_tag(:genre, "supernatural") %> </br>
    <%= check_box_tag(:genre) %>
    <%= label_tag(:genre, "horror") %> </br>
    <%= check_box_tag(:genre) %>
    <%= label_tag(:genre, "psychology") %> </br>
    <%= check_box_tag(:genre) %>
    <%= label_tag(:genre, "thriller") %> </br>
    -->
  </div>

  <div>
    <%= form.label :year, style: "display: block" %>
    <%= form.text_field :year %>
  </div>

  <div>
    <%= form.label :desc, style: "display: block" %>
    <%= form.text_area :desc %>
  </div>

 <div>
    <%#= form.label :cover_path, style: "display: block" %>
    <%#= form.text_field :cover_path %>
  </div>

  <div>
    <%= form.label :cover, style: "display: block" %>
    <% unless @book.cover.attached? %>
      <%= form.file_field :cover %>
    <% else %>
        <%= form.file_field :cover %>
        <%#= image_tag(book.cover, style: "width:50px; height:auto") %>
    <% end %>
  </div>

  <div>
    <%= form.label :purchase_status, style: "display: block" %>
    <%= form.radio_button :purchase_status, true %>
    <%= form.label :purchase_status, "Available to purchase" %></br>
    <%= form.radio_button :purchase_status, false %>
    <%= form.label :purchase_status, "Not available to purchase" %>
  </div>
  
  <div>
    <%= form.label :purchase_url, style: "display: block" %>
    <%= form.text_field :purchase_url %>
  </div>

  <div>
    <%= form.label :rent_status, style: "display: block" %>
    <%= form.radio_button :rent_status, false %>
    <%= form.label :rent_status, "Available to rent" %></br>
    <%= form.radio_button :rent_status, true %>
    <%= form.label :rent_status, "Not available to rent" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
