<%= bootstrap_form_with(model: book, layout: :horizontal) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.collection_select :author_id, Author.order(:name),:id,:name, {prompt: "Select Author"}, { class: 'form-control' } %>
  </div>
  <%#= form.collection_check_boxes :genre_id, Genre.all, :id, :category %>
  <div class="mb-3 row">
    <%= form.label :genre, class:"col-form-label col-sm-2" %>
    <div class="col-sm-10">
      <%Genre.all.each_slice(2) do |lists| %>
        <div class="row col-sm-10">
          <% for genre in lists %>
            <div class="col form-check">
              <%= check_box_tag "book[genre_ids][]", genre.id, @book.genres.include?(genre), style:"accent-color:green", class:"form-check-input" %>
              <%=h genre.category %><br />
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.text_field :year, label:"Year published" %>
  </div>
  <div>
    <%= form.text_area :desc, label:"Summary" %>
    <div>
      <% unless @book.cover.attached? %>
        <%= form.file_field :cover, class:"form-control-file" %>
      <% else %>
        <%= form.file_field :cover, class:"form-control-file" %>
        <%= image_tag(book.cover, style: "width:50px; height:auto") %>
      <% end %>
    </div>  
  </div>
  <br>
  <div>
    <%= form.form_group :purchase_status, label: {text: "Purchase status"} do %>
      <%= form.radio_button :purchase_status, true, label:"Available to purchase", style:"accent-color:green" %>
      <%= form.radio_button :purchase_status, false, label:"Not available to purchase", style:"accent-color:green" %>
    <% end %>
  </div>
  <div>
    <%= form.text_field :purchase_url %>
  </div>
  <div>
    <%= form.form_group :rent_status, label: {text: "Rent status"} do %>
      <%= form.radio_button :rent_status, false, label:"Available to rent", style:"accent-color:green" %>
      <%= form.radio_button :rent_status, true, label:"Not available to rent",style:"accent-color:green" %>
    <% end %>
  </div>
  <br>
  <div style="text-align:center">
    <%= link_to :Return, @book, class:"btn btn-outline-primary" %>
    <%= form.primary :Submit%>
  </div>
<% end %>
