<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to "Rent this book", rent_book_path(@book)%> |
  <!--<%= link_to "Find this author", author_path(@book.author_id) %> | -->
  <% if can? :update, @books %>
    <%= link_to "Edit this book", edit_book_path(@book) %> 
  |<% end %> 
  <%= link_to "Back to books", books_path %>
  <!-- Cannot delete book records because of the references
  <% if can? :destroy, @books %>
    <%= button_to "Destroy this book", @book, method: :delete %>
  <% end %>
   -->
</div>