<div id="<%= dom_id book_user %>">
  <p>
    <strong>Book:</strong>
    <%= Book.find(book_user.book_id).title %>
  </p>

  <p>
    <strong>Rent date:</strong>
    <%= (book_user.created_at).strftime("%e %b %Y @ %r") %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= (book_user.due_date).strftime("%e %b %Y @ %r") %>
  </p>

  <p>
    <strong>Return date:</strong>
    <% if book_user.return_date.present? %>
      <td><%= (book_user.return_date).strftime("%e %b %Y @ %r") %></td>
    <% end %>
  </p>

  <p>
    <strong>Rent Status:</strong>
    <%#= book_user.rent_status %>
    <% if book_user.rent_status == true %>
      Renting
    <% else %>
      Returned
    <% end %>
  </p>

  <p>
    <strong>Due Status:</strong>
    <%#= book_user.due_status %>
    <% if book_user.due_status == true %>
      Due
    <% else %>
      <% if Payment.find_by(book_user_id: book_user.id).present? %>
        <td>Paid</td>
      <% else %>
        <td>No due</td>
      <% end %>
    <% end %>
  </p>

  <p>
    <strong>Price:</strong>
    RM <%= book_user.price %>0
  </p>

  <p>
    <strong>JID:</strong>
    <%= book_user.jid %>
  </p>

</div>
