<div id="<%= dom_id book_user %>">
<!--<table class="table table-striped" style="width:auto;margin-left:auto;margin-right:auto">-->
<table class="table table-striped" style="width:100%">
  <tr>
    <th style="width:15%">User ID<th>
    <td style="width:15%"><%= book_user.user_id %></td>
    <th style="width:15%">User Name<th>
    <td style="width:55%"><%= User.find(book_user.user_id).name %></td>
  </tr>
  <tr>
    <th>Book ID<th>
    <td><%= book_user.book_id %></td>
    <th>Book Title<th>
    <td><%= Book.find(book_user.book_id).title%></td>
  </tr>
  <tr>
    <th>Rent Date<th>
    <td><%= (book_user.created_at).strftime("%d-%m-%Y") %></td>
    <td colspan=3><%= (book_user.created_at).strftime("%r") %></td>
  </tr>
  <tr>
    <th>Due date<th>
    <td><%= (book_user.due_date).strftime("%d-%m-%Y") %></td>
    <td colspan=3><%= (book_user.due_date).strftime("%r") %></td>
  </tr>
  <tr>
    <th>Return date<th>
    <% if book_user.return_date.present? %>
    <td><%= (book_user.return_date).strftime("%d-%m-%Y") %></td>
    <td colspan=3><%= (book_user.return_date).strftime("%r") %></td>
    <% else %>
    <td colspan=4>n/a</td>
    <% end %>
  </tr>
  <tr>
    <th>Rent Status<th>
    <% if book_user.rent_status %>
    <td>Renting</td>
    <% else %>
    <td>Returned</td>
    <% end %>
    <th>Extend Limit<th>
    <td><%= book_user.extend_limit %>/2</td>
  </tr>
  <tr>
    <th>Due Status<th>
    <% if book_user.due_status %>
    <td style="color:red">Due</td>
    <% else %>
      <% if Payment.find_by(book_user_id: book_user.id).present? %>
        <td style="color:green">Paid</td>
      <% else %>
        <td>No due</td>
      <% end %>
    <% end %>
    <th>Due Fee<th>
    <td>RM <%= (number_with_precision book_user.price, precision: 2) %></td>
  </tr>
  <% if current_user.admin == true %>
  <tr>
    <th>JID<th>
    <td colspan=4><%= book_user.jid %></td>
  </tr>
  <% end %>
</table>
</div>
