<p style="color: green"><%= notice %></p>

<h1>Book users</h1>

<div id="book_users">
  <% @book_users.each do |book_user| %>
    <%= render book_user %>
    <p>
      <%= link_to "Show this book", book_path(book_user.book_id) %>
      <%= link_to "Show this rent", book_user %>
      <% if book_user.status == "Due" %>
        <%= link_to "Pay this due", new_book_user_payment_path(book_user_id: book_user.id) %>
      <% end %>
    </p>
  <% end %>
</div>

<%= link_to "Borrow more books", books_path %>
