<%= render "/shared/navpath", child:"Rent History" %><br>
<div class="table-responsive">
  <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Book Title</th>
        <th>Rent Date</th>
        <th>Due Date</th>
        <th>Return Date</th>
        <th>Status</th>
        <th>Payment</th>
        <th>More Details</th>
      </tr>
      <% @book_users.each do |book_user| %>
      <tr>
        <td><%= book_user.id %></td>
        <td><%= link_to Book.find(book_user.book_id).title, book_path(book_user.book_id), class:"primary-hover" %></td>
        <td><%= (book_user.created_at).strftime("%e %b %Y @ %r") %></td>
        <td><%= (book_user.due_date).strftime("%e %b %Y @ %r") %></td>
        <td>
          <% if book_user.return_date.present? %>
            <%= (book_user.return_date).strftime("%e %b %Y @ %r") %></td>
          <% else %>
            Have not returned
          <% end %>
        </td>
        <td>
          <% if book_user.rent_status %>
            Renting
          <% else %>
            Returned
          <% end %>
          <% if book_user.due_status %> 
            and Due
          <% else %>
            <% if Payment.find_by(book_user_id: book_user.id).present? %>
            and Paid Due Fee
            <% end %>
          <% end %>
        </td>
        <td>
          <% if book_user.due_status %>
            <%= link_to "Pay due fee", new_book_user_payment_path(book_user_id: book_user.id) %>
          <% else %>
            <% if Payment.find_by(book_user_id: book_user.id).present? %>
              <%= link_to "View payment", payment_path(book_user_id: book_user.id, id: Payment.find_by(book_user_id: book_user.id)) %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to "View", book_user %></td>
      <tr>
    <% end %>
  </table>
</div>
<br>
<%= render partial: "shared/pagination" %>