<div class="grid-container-1_3">
  <div class="grid-1_3-leftCol"> 
    <%= render "/shared/navpath", parent: "Rent History", parent_path: book_users_path, child: "##{@book_user.id}" %>
  </div>
  <div class="grid-1_3-centreCol">
    <% if can? :update, @book_user %>
      <%= link_to "Edit this book user", edit_book_user_path(@book_user) %>
    <% end %>
    <br><br>
    <% if @book_user.due_status && @book_user.rent_status == false %>
      <%= link_to "Pay this due", new_book_user_payment_path(@book_user) %> |
      <% if can? :update, @book_user %>
        <%= link_to "Void the due fee", void_fee_book_user_path(@book_user)%>
      <% end %>
    <% end %>
    <% if @book_user.due_status == false && Payment.find_by(book_user_id:@book_user.id).present? %>
      <%= link_to "View payment record", payment_path(Payment.find_by(book_user_id: @book_user.id).id) %>
    <% end %>
    <% if can? :update, @book_user %>
      <% if @book_user.rent_status == true %>
          <%= link_to "Return this book", return_book_book_user_path(@book_user)%>
        <% if @book_user.due_status == false %>
           | <%= link_to "Extend the due date", extend_due_book_user_path(@book_user)%>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="grid-1_3-rightCol">
    <% if can? :destroy, @book_user %>
      <%= button_to "Destroy this record", @book_user, method: :delete, class:"btn btn-danger" %>
    <% end %>
  </div>
</div>
<br>
<%= render @book_user %>