<%= form_with(model: payment, data:{turbo: false}) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%#= hidden_field_tag :user_id, current_user.id %>
    <%= form.label "ID", style: "display: block" %>
    <%= form.text_field :user_id, :value => current_user.id %>
  </div>
  <div>
    <%= form.label "Full Name", style: "display: block" %>
    <%= form.text_field :buyer_name, :value => current_user.name %>
  </div>
  <div>
    <%= form.label "E-mail", style: "display: block" %>
    <%= form.text_field :buyer_email, :value => current_user.email %>
  </div>
  <div>
    <%= form.label "Phone Number", style: "display: block" %>
    <%= form.text_field :buyer_phone, :value => current_user.phone %>
  </div>

  <div>
    <%#= form.label "Order Number", style: "display: block" %>
    <%#= form.text_field :id, :value => @payment.id, :disabled => true %>
    <%= form.label "Book Rent ID", style: "display: block" %>
    <%= form.collection_select :book_user_id, BookUser.where(status: "Due"), :id, :id, prompt: true %>

    <%#= form.label :order_number, style: "display: block" %>
    <%#= form.collection_select :order_number, BookUser.where(status: "Due"), :id, :id, prompt: true %>
  </div>

  <div>
    <%= form.label "Order Number", style: "display: block" %>
    <%= form.text_field :order_number, :value => g_order_number(current_user.id), readonly: true %>
  </div>

  <div>
    <%= form.label "Pay Price", style: "display: block" %>
    <%= form.text_field :transaction_amount, :value => 3.00, :disabled => true %>
  </div>
  <div>
    <%= form.label "Description", style: "display: block" %>
    <%= form.text_field :product_description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
