<%= bootstrap_form_with(layout: :horizontal, model: @payment, data:{turbo: false}) do |form| %>
  <% if @payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
        <% @payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.hidden_field :user_id, :value => current_user.id %>    
  <%= form.hidden_field :book_user_id, :value => params[:book_user_id] %>    
  <div>
    <%= form.static_control :order_number, value: g_order_number(current_user.id), class: "form-control-plaintext" %>
  </div>
  <div>
    <%= form.text_field :buyer_name, label:"Name", :value => current_user.name, class: "form-control" %>
  </div>
  <div>
    <%= form.text_field :buyer_email, label:"Email", :value => current_user.email, class: "form-control" %>
  </div>
  <div>
    <%= form.text_field :buyer_phone, label:"Phone", :value => current_user.phone, class: "form-control" %>
  </div>
  <div>
    <%= form.text_field :transaction_amount, label:"Fee", :value =>  BookUser.find(params[:book_user_id]).price, readonly: true, class: "form-control" %>
  </div>
  <div>
    <%= form.text_field :product_description, label:"Desciption", class: "form-control" %>
  </div>
  </br>
  <div style="text-align:center">
    <%= form.submit :Submit, class:"btn btn-primary" %>
  </div>
<% end %>
