<div id="<%= dom_id history %>">
  <p>
    <strong>ID:</strong>
    <%= history.id %>
  </p>
  
  <p>
    <strong>Source:</strong>
    <%= history.source %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= history.payment_status %>
  </p>

  <p>
    <strong>Transaction Amount:</strong>
    <%= history.currency history.transaction_amount %>
  </p>

  <p>
    <strong>Order Number:</strong>
    <%= history.order_number %>
  </p>

  <p>
    <strong>Merchant Reference Number:</strong>
    <%= history.merchant_reference_number %>
  </p>
</div>