<div id="<%= dom_id payment %>">
  <p>
    <strong>Rent:</strong>
    <%= payment.book_user_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= payment.price %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= payment.status %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= payment.url %>
  </p>

</div>
