<div id="<%= dom_id payment %>">
  <p>
    <strong>ID:</strong>
    <%= payment.id %>
  </p>
  
  <p>
    <strong>Rent:</strong>
    <%= payment.book_user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= payment.status %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= payment.buyer_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= payment.buyer_email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= payment.buyer_phone %>
  </p>

  <p>
    <strong>transaction_amount:</strong>
    <%= payment.transaction_amount %>
  </p>

  <p>
    <strong>product_description:</strong>
    <%= payment.product_description %>
  </p>
</div>