<h1>Payment History</h1>

<div id="payments">
  <table class="table table-striped tablelayout">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Rent #</th>
      <th scope="col">Status</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Transaction Amount</th>
      <th scope="col">Product Description</th>
      <th scope="col"></th>
    </tr>
      <%# @payments.where(status: true).each do |payment| %> 
      <% @payments.each do |payment| %>
      <%#= render payment %>
      <tr>
        <td><%= payment.id %></td>
        <td><%= payment.book_user_id %></td>
        <td><%= payment.status %></td>
        <td><%= payment.buyer_name %></td>
        <td><%= payment.buyer_email %></td>
        <td><%= payment.buyer_phone %></td>
        <td><%= (number_with_precision payment.transaction_amount, precision: 2) %></td>
        <td><%= payment.product_description %></td>
        <td>
          <p>
            <%= link_to "Show details", payment %>
            <%#= link_to "Show this payment redirect" %>
          </p>
        </td>
      <tr>
    <% end %>
  </table>
</div>

<%#= link_to "New payment", new_payment_path %>
<%= render partial: "shared/pagination" %>