<%= render "/shared/navpath", child:"Payment History" %><br>

<div id="payments">
  <table class="table table-striped tablelayout">
    <tr>
      <th>#</th>
      <th>Status</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Transaction Amount (RM)</th>
      <th>Product Description</th>
      <th></th>
    </tr>
      <%# @payments.where(status: true).each do |payment| %> 
      <% @payments.each.with_index(1) do |payment, index| %>
      <%#= render payment %>
      <tr>
        <td><%= index %></td>
        <td>
          <% if payment.status %>
            Success
          <% else %>
            Fail
          <% end %>
        </td>
        <td><%= payment.buyer_name %></td>
        <td><%= payment.buyer_email %></td>
        <td><%= payment.buyer_phone %></td>
        <td><%= (number_with_precision payment.transaction_amount, precision: 2) %></td>
        <td><%= payment.product_description %></td>
        <td>
          <p>
            <%= link_to "Show details", payment %>
            <%#= link_to "Show this payment redirect" %>
          </p>
        </td>
      <tr>
    <% end %>
  </table>
</div>
<br>
<%= render partial: "shared/pagination" %>