<div class="grid-container-1_3">
  <div class="grid-1_3-leftCol"> 
    <%= render "/shared/navpath", parent: "Payment History", parent_path: payments_path, child: "##{@payment.id}" %>
  </div>
  <div class="grid-1_3-centreCol">
    <br><br>
    <%# if current_user.admin %>
      <%= link_to "View rent record", book_user_path(@payment.book_user_id) %>
    <%# end %> 
  </div>
</div>
<br>
<%= render @payment %>
<hr>
<%= render "history" %>
<br>
<div style="text-align:center">
 <%# unless current_user.admin %>
  <%= link_to "Return", :back, class:"btn btn-outline-primary" %>
 <%# end %>
</div>